.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(226, 226, 226, 0.466);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.nav__dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  position: block;
  display: flex;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  bottom: 25px;
}
