.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 700;
  font-size: 18px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 170px;
  color: rgba(0, 0, 0, 0.5);
}
